<!DOCTYPE html>

<html lang="en" ng-app="alinua">
    <head>
        <title>Alinua</title>

        <!-- Normalize encoding -->
        <meta charset="utf-8" />

        <!-- Website data -->
        <meta name="description"
            content="AlinUA is a students social network project" />
        <meta name="keywords"
            content="alinua,social,students,university,java,jee,javascript" />
        <meta name="author"
            content="AlinUA Team" />

        <!-- Website behavior -->
        <meta name="viewport"
            content="width=device-width, initial-scale=1.0" />

        <!-- Website icon -->
        <link rel="shortcut icon" href="static/img/favicon.ico" />

        <!-- Website appearance -->
        <link rel="stylesheet" href="static/css/reset.css" />
        <link rel="stylesheet" href="static/css/font-awesome.min.css" />
        <link rel="stylesheet" href="static/css/layout.css" />

        <!-- Javascripts -->
        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/angular.min.js"></script>
        <script src="static/js/angular-route.min.js"></script>
        <script src="static/js/angular-cookies.min.js"></script>
        <script src="static/js/angular-resource.min.js"></script>
        <script src="static/js/angular-sanitize.min.js"></script>
        <script src="static/js/satellizer.min.js"></script>

        <script src="app.config.js"></script>

        <script src="controller/home.js"></script>
        <script src="controller/job.js"></script>
        <script src="controller/user.js"></script>
        <script src="controller/inbox.js"></script>
        <script src="controller/error.js"></script>
        <script src="controller/project.js"></script>
    </head>

    <body ng-controller="AlinuaController as main">
        <!-- Header -->
        <header>
            <h1>
                <a href="#!/">
                    <i class="fa fa-paper-plane fa-fw"></i>AlinUA
                </a>
            </h1>
        </header>

        <!-- Navigation links -->
        <nav>
            <ul>
                <li class="responsive">
                    <a href="#!/">
                        <i class="fa fa-home fa-fw"></i><b>Accueil</b>
                    </a>
                </li>

                <ul>
                    <li>
                        <a href="#!/jobs">
                            <i class="fa fa-newspaper-o fa-fw"></i><b>Annonces</b>
                        </a>
                    </li>

                    <li ng-if="isAuthenticated()" class="responsive">
                        <a href="#!/jobs/new" title="Créer une annonce">
                            <i class="fa fa-plus fa-fw"></i><b>Créer une annonce</b>
                        </a>
                    </li>
                </ul>

                <ul>
                    <li>
                        <a href="#!/projects">
                            <i class="fa fa-briefcase fa-fw"></i><b>Projets</b>
                        </a>
                    </li>

                    <li ng-if="isAuthenticated()" class="responsive">
                        <a href="#!/projects/new" title="Créer un projet">
                            <i class="fa fa-plus fa-fw"></i><b>Créer un projet</b>
                        </a>
                    </li>
                </ul>

                <li>
                    <a href="#!/network">
                        <i class="fa fa-users fa-fw"></i><b>Réseau</b>
                    </a>
                </li>

                <ul>
                    <li ng-if="!isAuthenticated()">
                        <a ng-click="authenticate()">
                            <i class="fa fa-linkedin fa-fw"></i><b>Connexion</b>
                        </a>
                    </li>

                    <li ng-if="!isAuthenticated()">
                        <a ng-click="debug()">
                            <i class="fa fa-sign-in fa-fw"></i><b>Debug</b>
                        </a>
                    </li>

                    <li ng-if="isAuthenticated()" class="responsive">
                        <a ng-if="avatar == undefined" href="#!/profile" title="Mon profil">
                            <img data-ng-src="static/img/user.jpg" class="fa fa-fw" /><b>Mon profil</b>
                        </a>

                        <a ng-if="!(avatar == undefined)" href="#!/profile" title="Mon profil">
                            <img data-ng-src="{{ avatar }}" class="fa fa-fw" /><b>Mon profil</b>
                        </a>
                    </li>

                    <li ng-if="isAuthenticated()">
                        <a ng-if="unread == 0" href="#!/inbox">
                            <i class="fa fa-envelope-o fa-fw"></i><b>{{ unread }}</b>
                        </a>

                        <a ng-if="unread > 0" href="#!/inbox">
                            <i class="fa fa-envelope fa-fw blink"></i><b>{{ unread }}</b>
                        </a>
                    </li>

                    <li ng-if="isAuthenticated()" class="responsive">
                        <a ng-click="logout()" title="Déconnexion">
                            <i class="fa fa-sign-out fa-fw"></i><b>Déconnexion</b>
                        </a>
                    </li>
                </ul>
            </ul>
        </nav>

        <!-- Main content -->
        <main ng-view>
            <!-- May the void be with you -->
        </main>

        <!-- Footer -->
        <footer>
            <div>
                <ul>
                    <li>
                        <a href="#!/">
                            <i class="fa fa-home fa-fw fa-rm"></i>Accueil
                        </a>
                    </li>

                    <li>
                        <a href="#!/network">
                            <i class="fa fa-users fa-fw fa-rm"></i>Réseau
                        </a>
                    </li>

                    <li>
                        <a href="#!/jobs">
                            <i class="fa fa-newspaper-o fa-fw fa-rm"></i>Annonces
                        </a>
                    </li>

                    <li>
                        <a href="#!/projects">
                            <i class="fa fa-briefcase fa-fw fa-rm"></i>Projets
                        </a>
                    </li>
                </ul>

                <ul>
                    <li>
                        <a href="#!/about">
                            <i class="fa fa-star fa-fw fa-rm"></i>À propos
                        </a>
                    </li>

                    <li>
                        <a href="#!/help">
                            <i class="fa fa-book fa-fw fa-rm"></i>Aide
                        </a>
                    </li>
                </ul>

                <ul>
                    <li>
                        <a href="mailto:">
                            <i class="fa fa-envelope fa-fw fa-rm"></i>Contact
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/alinua">
                            <i class="fa fa-github fa-fw fa-rm"></i>Github
                        </a>
                    </li>
                </ul>
            </div>

            <small>
                Alinua 2017
            </small>
        </footer>
    </body>
</html>
