/* --------------------------------------------------------------------------
 *  Document
 * -------------------------------------------------------------------------- */

body {
    margin-top: 60px;

    background-color: #181818;

    background-image: url("../img/noise.png");

    background-position: 0% 0%;
    background-attachment: scroll;
    background-repeat: repeat, repeat-x;

    background-size: auto auto;
    background-clip: border-box;
    background-origin: padding-box;
}

/* --------------------------------------------------------------------------
 *  Header
 * -------------------------------------------------------------------------- */

body > header {
    position: fixed;
    top: 10px;
    left: 10px;

    z-index: 42;
}

body > header > h1 {
    font-size: 30px;
    font-weight: 600;
}

body > header > h1 > a {
    color: rgb(40, 130, 173);
}

body > header > h1 > a > i {
    margin-right: 8px;
}

/* --------------------------------------------------------------------------
 *  Navigation
 * -------------------------------------------------------------------------- */

body > nav {
    position: fixed;
    top: 0;

    width: 100%;
    height: 60px;

    background-color: white;
    border-bottom: 4px solid rgb(40, 130, 173);

    box-shadow: 0 2px 2px rgba(80, 80, 80, 0.5);
}

body > nav > ul {
    position: fixed;
    top: 18px;
    right: 10px;

    text-align: right;
}

body > nav > ul > li,
body > nav > ul > ul > li {
    display: inline-block;

    font-size: 14pt;
    font-variant: small-caps;
}

body > nav > ul > li > a > b,
body > nav > ul > ul > li > a > b {
    margin-left: 8px;

    font-weight: 400;
}

body > nav > ul > li.responsive > a > b,
body > nav > ul > ul > li.responsive > a > b {
    display: none;
}

body > nav > ul > ul,
body > nav > ul > li:nth-child(1n+2) {
    padding-left: 4px;

    border-left: 1px solid rgba(40, 130, 173, 0.2);
}

body > nav > ul > ul {
    display: inline;
}

body > nav > ul > li > a,
body > nav > ul > ul > li > a {
    padding: 8px;

    color: rgb(40, 130, 173);
}

body > nav > ul > li.active > a,
body > nav > ul > ul > li.active > a {
    color: rgb(173, 63, 40);
}

body > nav > ul > li > a:hover,
body > nav > ul > ul > li > a:hover {
    color: white;
    background-color: rgb(40, 130, 173);

    border-radius: 4px;
}

body > nav > ul > ul > li > a > img {
    position: relative;
    top: -2px;

    display: inline-block;
    width: 24px;

    border-radius: 12px;

    vertical-align: middle;
}

/* --------------------------------------------------------------------------
 *  Footer
 * -------------------------------------------------------------------------- */

body > footer {
    margin: 16px;

    text-align: center;
}

body > footer > small {
    color: grey;

    font-style: oblique;
}

body > footer > header > h1 {
    margin-bottom: 8px;

    color: grey;

    font-size: 12pt;
}

/* Footer listing */
body > footer > div {
    display: table;
    width: 50%;
    margin: 0 auto;
}

body > footer > div > ul {
    display: table-cell;
    width: 25%;
    margin-bottom: 8px;

    list-style: none;
}

body > footer > div > ul > li {
    margin: 8px 0;

    font-size: 14pt;

    text-align: center;
}

body > footer > div > ul > li > a {
    display: block;
    margin: 0 auto;
    width: 80px;

    color: grey;

    text-align: left;

    white-space: nowrap;
}

body > footer > div > ul > li > a:hover {
    color: rgb(40, 130, 173);
}

/* --------------------------------------------------------------------------
 *  Main content
 * -------------------------------------------------------------------------- */

body > main {
    width: 100%;

    background-color: #DBDBDB;
}

body > main > nav,
body > main > section {
    width: 80%;

    margin: 0 auto;
    padding: 32px 16px;

    vertical-align: top;
}

/* --------------------------------------------------------------------------
 *  Multiple content
 * -------------------------------------------------------------------------- */

body > main > section > header {
    display: table;

    margin: 0 auto 16px;
}

body > main > section > header > h1 {
    padding: 4px;

    font-size: 30pt;
    font-variant: small-caps;
}

body > main > section > header > h2,
body > main > section > header > h3,
body > main > section > footer > h2,
body > main > section > footer > h3 {
    padding: 4px;

    color: grey;
}

body > main > section > header > h2,
body > main > section > footer > h2 {
    font-size: 14pt;
}

body > main > section > header > h3,
body > main > section > footer > h3 {
    font-size: 12pt;
}

body > main > section > header,
body > main > section > footer {
    width: 100%;

    text-align: center;
}

body > main > section > article {
    margin: 16px auto;
    padding: 16px;

    background-color: white;

    box-shadow: 0 2px 2px rgba(80, 80, 80, 0.5);
    border-radius: 4px;
}

/* --------------------------------------------------------------------------
 *  Listing
 * -------------------------------------------------------------------------- */

.listing > article {
    display: table;

    width: 100%;

    border: 1px solid rgba(40, 130, 173, 0.2);
    border-bottom: 4px solid rgb(40, 130, 173);

    border-spacing: 8px;
}

.listing.side > article,
.listing.cards > article > aside {
    display: table-cell;

    vertical-align: top;
}

.listing.cards > article > aside:first-child {
    padding-right: 16px;
}

.listing.inbox > article > aside:first-child {
    border-right: 2px solid rgba(40, 130, 173, 0.2);
}

.listing.inbox > article > aside:last-child {
    padding-left: 8px;
}

.listing.side > article:last-child,
.listing.cards > article > aside:last-child {
    width: 100%;
}

.listing > article > header,
.listing > article > aside > header {
    margin-bottom: 8px;
}

.listing > article > header > h1,
.listing > article > aside > header > h1 {
    font-size: 16pt;
    font-weight: 500;
    font-variant: small-caps;
}

.listing > article > header > h2,
.listing > article > aside > header > h2 {
    padding-top: 8px;

    color: grey;

    font-size: 12pt;
}

.listing > article > header > h1 > a,
.listing > article > aside > header > h1 > a {
    color: rgb(173, 40, 40);
}

.listing > article > aside > i,
.listing > article > aside > img {
    width: 64px;
    height: 64px;

    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 32px;
}

.listing > article > aside > i {
    text-align: center;
}

.listing > article > p,
.listing > article > aside > p {
    display: inline;
    margin: 8px auto;

    text-align: justify;
}

.listing > article > footer,
.listing > article > aside > footer {
    margin-top: 16px;

    color: grey;
}

.listing > article > footer > ul,
.listing > article > aside > footer > ul {
    list-style: none;
}

.listing > article > footer > ul > li {
    display: inline-block;

    margin-right: 16px;
}

/* --------------------------------------------------------------------------
 *  Card
 * -------------------------------------------------------------------------- */

.card > header > h1 {
    font-variant: small-caps;
}

.card > header > h2 > ul {
    list-style: none;
}

.card > header > h2 > ul > li {
    display: inline-block;

    margin: 4px 8px;
}

.card > header > h3 > a {
    margin: 0 4px;

    color: black;
}

.card > header > h3 > a:hover {
    color: rgb(173, 40, 40);

    text-decoration: none;
}

.card > header > h3 > ul.tags {
    margin: 16px;

    list-style: none;
}

.card > header > h3 > ul.tags > li {
    display: inline-block;

    margin: 4px;
    padding: 8px 16px;

    color: white;
    background-color: rgba(40, 130, 173, 0.6);

    border-radius: 42px;

    font-size: 12pt;
    font-weight: 500;
}

.card > aside {
    text-align: center;

    vertical-align: middle;
}

.card > aside > img {
    width: 150px;

    border: 2px solid white;

    border-radius: 75px;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
}

.card > article {
    border: 1px solid rgba(40, 130, 173, 0.2);
    border-bottom: 4px solid rgb(40, 130, 173);
}

.card > article > header {
    margin-bottom: 16px;
}

.card > article > header > h1 {
    font-size: 16pt;
    font-weight: 500;
}

.card > article > ul > li {
    margin: 8px 0;
}

.card > article > ul > li > i {
    margin-right: 8px;
}

.card > article > p {
    text-align: justify;
}

.card > article > aside.card-position {
    padding: 8px 16px;
}

.card > article > aside.card-position:nth-child(2n+1) {
    margin-top: 32px;
}

.card > article > aside.card-position.false {
    border-left: 4px solid rgba(173, 40, 40, 0.8);
}

.card > article > aside.card-position.true {
    border-left: 4px solid rgba(96, 173, 40, 0.8);
}

.card > article > aside.card-position > header {
    margin-bottom: 8px;
}

.card > article > aside.card-position > header > h1 {
    font-size: 14pt;
    font-weight: 600;
}

.card > article > aside.card-position > header > h2 {
    margin: 8px auto;

    font-size: 12pt;

    color: grey;
}

.card > article > aside.card-position > p {
    margin: 16px 8px;
}

.card > article > aside.card-position > footer {
    margin-top: 8px;
    padding-top: 8px;

    color: grey;

    border-top: 1px solid lightgrey;
}

.card > article > aside.card-position > footer > ul {
    list-style: none;
}

.card > article > aside.card-position > footer > ul > li {
    display: inline-block;

    margin-right: 8px;
}

/* --------------------------------------------------------------------------
 *  Filters
 * -------------------------------------------------------------------------- */

.filters {
    display: table;

    width: 100%;

    border-spacing: 0 4px;
}

.filters > span {
    display: table-cell;

    padding-right: 16px;

    vertical-align: middle;

    white-space: nowrap;
}

.filters > span:last-child {
    width: 100%;

    padding-right: 0;

    text-align: right;
}

.filters > span > label,
.filters > span > input,
.filters > span > select {
    display: inline-block;
}

.filters > span > label,
.filters > span > label > i {
    padding-right: 8px;
}

.filters > span > input,
.filters > span > select {
    padding: 4px 8px;

    color: black;
    background-color: white;
    border: 1px solid lightgrey;

    border-radius: 4px;
}

/* --------------------------------------------------------------------------
 *  Job - Navigation buttons
 * -------------------------------------------------------------------------- */

.job-nav {
    display: table;

    width: 100%;
}

.job-nav > ul {
    display: table-row;

    list-style: none;
}

.job-nav > ul > li {
    display: table-cell;

    padding-right: 8px;
    padding-bottom: 8px;
}

.job-nav > ul > li:last-child {
    width: 100%;
}

.job-nav > ul > li > a {
    margin-right: 8px;
    padding: 8px 16px;

    color: rgb(40, 130, 173);
    background-color: white;

    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(20, 20, 20, 0.5);

    white-space: nowrap;
}

.job-nav > ul > li > a:hover {
    color: white;
    background-color: rgb(40, 130, 173);

    box-shadow: 0 0 4px rgba(20, 20, 20, 0.6) inset;
}

/* --------------------------------------------------------------------------
 *  Banners
 * -------------------------------------------------------------------------- */

.banner {
    display: block;
    width: 100%;
    padding: 64px 0 !important;

    text-align: center;
}

.banner > aside {
    padding: 16px;
}

.banner > header > h1,
.banner > aside > p {
    color: white;

    text-shadow: 1px 1px 2px #181818;
}

.banner > aside > p { font-size: 14pt; }

.banner-alinua {
    background: no-repeat left/cover url("../img/banner.png");
}

.banner-jobs {
    background-color: #9CAF40;
}

.banner-jobs > aside > ul {
    width: 60%;
    margin: 0 auto;

    list-style: none;
}

.banner-jobs > aside > ul > li > a {
    display: block;
    margin-bottom: 16px;
    padding: 16px;

    color: #9CAF40;
    background-color: white;
    border: 2px solid white;

    font-size: 16pt;

    box-shadow: 0 2px 4px rgba(20, 20, 20, 0.5);
    border-radius: 42px;
}

.banner-jobs > aside > ul > li > a:hover {
    color: white;
    background-color: #9CAF40;
    border: 2px solid white;

    box-shadow: 0 0 4px rgba(20, 20, 20, 0.6) inset;
}

.banner-infos {
    background-color: #499384;
}

.banner-infos > aside > div > span {
    width: 33%;
}

.banner-infos > aside > div > span > a {
    display: block;
    padding: 32px;

    color: #499384;
    background-color: white;
    border: 2px solid white;

    text-align: center;

    white-space: word-wrap;

    border-radius: 42px;
    box-shadow: 0 2px 4px rgba(20, 20, 20, 0.5);
}

.banner-infos > aside > div > span > a:hover {
    color: white;
    background-color: #499384;
    border: 2px solid white;

    box-shadow: 0 0 4px rgba(20, 20, 20, 0.6) inset;

    cursor: pointer;
}

.banner-register {
    background-color: #2882AD;
}

.banner-register > aside > button {
    display: block;
    margin: 8px auto;
    padding: 12px 32px;

    color: #2882AD;
    background-color: white;
    border: 2px solid white;

    box-shadow: 0 2px 4px rgba(20, 20, 20, 0.5);
    border-radius: 42px;
}

.banner-register > aside > button:hover {
    color: white;
    background-color: #2882AD;
    border: 2px solid white;

    box-shadow: 0 0 4px rgba(20, 20, 20, 0.6) inset;

    cursor: pointer;
}

.banner-register > aside > button > i {
    margin-right: 6px;
}


/* --------------------------------------------------------------------------
 *  Form
 * -------------------------------------------------------------------------- */

section > article > form {
    display: table;

    width: 100%;

    border-spacing: 16px;
}

section > article > form > span {
    display: table-row;
}

section > article > form > span > label,
section > article > form > span > input,
section > article > form > span > textarea {
    display: table-cell;

    vertical-align: top;
}

section > article > form > span > label {
    display: inline-block;

    width: 100px;

    margin-bottom: 6px;

    font-weight: 500;

    white-space: nowrap;
}

section > article > form > span > input,
section > article > form > span > textarea {
    width: 100%;

    padding: 8px;

    color: black;
    background-color: white;

    border: 2px solid rgba(40, 130, 173, 0.2);

    font-size: 14pt;

    border-radius: 4px;
}

section > article > form > span > input:focus,
section > article > form > span > textarea:focus {
    border: 2px solid rgb(40, 130, 173);
}

section > article > form > span > textarea {
    height: 150px;
}

section > article > form > span > textarea.no-resize {
    resize: none;
}

section > article > form > input[type="submit"] {
    display: block;

    margin: 0 auto;
    padding: 8px 16px;

    color: rgb(40, 130, 173);
    background-color: white;

    border: 2px solid rgb(40, 130, 173);

    border-radius: 24px;
}

section > article > form > input[type="submit"]:hover {
    color: white;
    background-color: rgb(40, 130, 173);

    cursor: pointer;
}

section > article > form > span.separator {
    height: 16px;
}

section > article > form > span > div > span > select {
    margin: 0 16px 0 2px;
    padding: 2px 8px;

    color: rgb(40, 130, 173);
    background-color: white;

    border: 2px solid rgba(40, 130, 173, 0.2);

    border-radius: 2px;
}

section > article > form > span > div > span > select:focus {
    border: 2px solid rgb(40, 130, 173);
}

/* --------------------------------------------------------------------------
 *  Grid
 * -------------------------------------------------------------------------- */

.grid {
    display: table;

    margin: 0 auto;

    border-spacing: 16px;
}

.grid > div {
    display: table-row;
}

.grid > div > span {
    display: table-cell;
    padding: 4px 8px;

    white-space: nowrap;

    vertical-align: middle;
}

.grid > div > span > a > p > i {
    margin-bottom: 16px;
}

.grid > div.header > span {
    font-weight: 500;
    font-variant: small-caps;
}

/* --------------------------------------------------------------------------
 *  Misc
 * -------------------------------------------------------------------------- */

.fa-rm { margin-right: 6px; }
.fa-lw { width:1.3em; margin-right: 4px; }

.full { width: 100% !important; }
.no-dot { list-style: none; }
.center { text-align: center !important; }
.important { color: rgb(173, 40, 40); }

.allow { text-shadow: 0 1px 1px lightgrey; color: #a1b56c; }
.disallow { text-shadow: 0 1px 1px lightgrey; color: #ab4642; }

.loading > i { margin: 32px 0; color: rgba(0, 0, 0, 0.2); }

.note {
    margin: 0 auto;
    padding: 16px;

    color: white;
    background-color: #AB4642;

    font-weight: 500;
    text-align: center;

    border-radius: 2px;

    box-shadow: 0 2px 4px lightgrey;
}

/* --------------------------------------------------------------------------
 *  Responsive design
 * -------------------------------------------------------------------------- */

@media screen and (max-width: 1200px) {
    body > main > section {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    body {
        margin-top: 0;
    }

    body > header,
    body > nav,
    body > nav > ul {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
    }

    body > header {
        padding: 8px 16px 4px;

        background-color: white;

        text-align: center;
    }

    body > nav {
        height: auto;
        padding: 16px;
    }

    body > nav > ul > li, body > nav > ul > ul, body > nav > ul > ul > li {
        display: block;

        text-align: left;
    }

    body > nav > ul > ul, body > nav > ul > li:nth-child(n+2) {
        padding: 0;

        border: none;
    }

    body > nav > ul > li > a, body > nav > ul > ul > li > a {
        display: block;
        margin: 8px 0;
        padding: 8px !important;

        background-color: #F3F3F3;

        font-size: 16pt;

        border-radius: 2px;
    }

    body > nav > ul > li.responsive > a > b,
    body > nav > ul > ul > li.responsive > a > b {
        display: inline-block;
    }

    body > nav > ul > ul > li:hover > ul {
        display: none;
    }

    body > footer > div {
        width: 100%;
    }

    .grid, .grid > div, .grid > div > span,
    body > main > section.banner > * {
        display: block;
    }

    .grid > div > span {
        white-space: word-wrap;
    }

    .homogeneous > div > span {
        width: 90%;
        margin: 8px auto;
    }
}

/* --------------------------------------------------------------------------
 *  Animations
 * -------------------------------------------------------------------------- */

@keyframes blink {
    0% { opacity: 0.5; }
    30% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0.5; }
}

@-webkit-keyframes blink {
    0% { opacity: 0; }
    30% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; }
}

.blink {
    animation: blink 3s ease-in-out infinite;
    -moz-animation: blink 3s ease-in-out infinite;
    -webkit-animation: blink 3s ease-in-out infinite;
}
