<section class="listing">
    <article>
        <header>
            <h1>Projets publiées</h1>
        </header>

        <article ng-if="projects.length == 0" class="center important">
            Aucun projet
        </article>

        <aside ng-if="projects.length > 0" class="grid">
            <div class="header">
                <span class="full">
                    Titre
                </span>
                <span class="center">
                </span>
                <span class="center">
                    Auteur
                </span>
                <span class="center">
                    Publication
                </span>
                <span class="center">
                    Status
                </span>
            </div>

            <div ng-repeat="project in projects | orderBy:published:true">
                <span>
                    <a ng-click="show(project)">
                        {{ project.title }}
                    </a>
                </span>
                <span class="center">
                    <a ng-click="onChangeStatus(project.id, true)"><i class="fa fa-eye fa-fw"></i></a>
                    <a ng-click="onChangeStatus(project.id, false)"><i class="fa fa-eye-slash fa-fw"></i></a>
                </span>
                <span class="center">
                    {{ project.owner.profile.firstName }} {{ project.owner.profile.lastName | uppercase }}
                </span>
                <span class="center">
                    {{ project.date }}
                </span>
                <span ng-if="project.status" class="allow">
                    <i class="fa fa-check-circle fa-fw"></i>Autorisée
                </span>
                <span ng-if="!project.status" class="disallow">
                    <i class="fa fa-times-circle fa-fw"></i>Non autorisée
                </span>
            </div>
        </aside>
    </article>

    <article ng-if="show_data">
        <header>
            <h1>{{ data.title }}</h1>
        </header>

        <p>
            {{ data.description.content }}
        </p>
    </article>
</section>
