<section class="listing">
    <article ng-show="users">
        <header>
            <h1>Utilisateurs inscrits</h1>
        </header>

        <article ng-if="users.length == 0" class="center important">
            Aucun utilisateur
        </article>

        <aside ng-if="users.length > 0" class="grid">
            <div class="header">
                <span class="full">
                    Nom
                </span>
                <span class="center">
                </span>
                <span class="center">
                    Inscription
                </span>
                <span class="center">
                    Status
                </span>
            </div>

            <div ng-repeat="user in users | orderBy:register:true">
                <span>
                    <a ng-click="show(user)">
                        {{ user.profile.firstName }} {{ user.profile.lastName | uppercase }}
                    </a>
                </span>
                <span class="center">
                    <a ng-click="onChangeStatus(user.profile.id, true)"><i class="fa fa-eye fa-fw"></i></a>
                    <a ng-click="onChangeStatus(user.profile.id, false)"><i class="fa fa-eye-slash fa-fw"></i></a>
                </span>
                <span class="center">
                    {{ user.register }}
                </span>
                <span ng-if="user.status" class="allow">
                    <i class="fa fa-check-circle fa-fw"></i>Autorisé
                </span>
                <span ng-if="!user.status" class="disallow">
                    <i class="fa fa-times-circle fa-fw"></i>Non autorisé
                </span>
            </div>
        </aside>
    </article>

    <article ng-if="show_data">
        <header>
            <h1>{{ data.profile.firstName }} {{ data.profile.lastName | uppercase }}</h1>
        </header>

        <p ng-show="data.profile.headline">
            {{ data.profile.headline }}
        </p>
        <p ng-show="data.profile.summary">
            {{ data.profile.summary }}
        </p>
    </article>
</section>
