<section>
    <header>
        <h1><i class="fa fa-lock"></i>&nbsp;Inscription</h1>
    </header>

    <article>
        <form name="form" ng-submit="submit(form)">
            <span>
                <label>Name</label>
                <input type="text" name="name" required />
            </span>
            <span>
                <label>Email</label>
                <input type="email" name="mail" required />
            </span>

            <input type="submit" />
        </form>
    </article>
</section>
