<section class="banner banner-alinua">
    <header>
        <h1>L'université d'Angers vous présente AlinUA</h1>
    </header>

    <aside>
        <p>
            Une plateforme dédiée aux étudiants pour leur permettre de faciliter leurs recherches professionnelles une fois leurs études terminées.
        </p>
    </aside>
</section>

<section class="banner banner-jobs" ng-if="jobs.length > 0">
    <header>
        <h1>Les dernières annonces publiées</h1>
    </header>

    <aside>
        <ul ng-repeat="job in jobs | orderBy:date:true | limitTo:5">
            <li>
                <a href="#!/jobs/{{ job.id }}">{{ job.title }}</a>
            </li>
        </ul>
    </aside>
</section>

<section class="banner banner-infos">
    <header>
        <h1>Une plateforme étudiante</h1>
    </header>

    <aside class="grid homogeneous">
        <div>
            <span>
                <a href="#!/jobs">
                    <p>
                        <i class="fa fa-newspaper-o fa-5x fa-fw"></i><br />
                        <b>Suivez les dernières annonces de jobs</b>
                    </p>
                </a>
            </span>
            <span>
                <a href="#!/projects">
                    <p>
                        <i class="fa fa-briefcase fa-5x fa-fw"></i><br />
                        <b>Découvrez les projets des autres étudiants</b>
                    </p>
                </a>
            </span>
            <span>
                <a href="#!/network">
                    <p>
                        <i class="fa fa-address-book fa-5x fa-fw"></i><br />
                        <b>Importez facilement votre profil depuis LinkedIn</b>
                    </p>
                </a>
            </span>
        </div>
    </aside>
</section>

<section ng-if="!isAuthenticated()" class="banner banner-register">
    <header>
        <h1>Connectez-vous dés maintenant</h1>
    </header>

    <aside>
        <button ng-click="authenticate()">
            <i class="fa fa-linkedin fa-fw"></i>Connexion via LinkedIn
        </button>
    </aside>
</section>
