<section ng-show="loading" class="center loading">
    <i class="fa fa-fw fa-5x fa-spinner fa-pulse"></i>
</section>

<section ng-hide="loading" class="listing cards inbox">
    <header>
        <h1>
            <i class="fa fa-inbox fa-fw"></i>
            Inbox
        </h1>

        <h2 ng-if="messages.length > 0">
            {{ messages.length }} message(s)
        </h2>
    </header>

    <article ng-if="messages.length == 0" class="center important">
        No message
    </article>

    <article ng-if="messages.length > 0">
        <aside class="grid">
            <div ng-repeat="message in messages | orderBy:date:true">
                <span class="center">
                    <a ng-click="mark(message)">
                        <i ng-if="message.status" class="fa fa-envelope-open-o fa-fw"></i>
                        <i ng-if="!message.status" class="fa fa-envelope-o fa-fw"></i>
                    </a>
                </span>
                <span>
                    <a ng-click="show(message)">
                        {{ message.data.title | limitTo: 28 }}
                        <em ng-if="message.data.title.length > 28">...</em>
                    </a>
                </span>
            </div>
        </aside>

        <aside>
            <header>
                <h1>{{ message_data.data.title }}</h1>
            </header>

            <p>
                {{ message_data.data.content }}
            </p>
        </aside>
    </article>
</section>
