<section ng-show="loading" class="center loading">
    <i class="fa fa-fw fa-5x fa-spinner fa-pulse"></i>
</section>

<section ng-hide="loading" class="card">
    <header>
        <h1>{{ job.title }}</h1>

        <h2>
            <ul>
                <li ng-show="job.location">
                    <i class="fa fa-map-marker fa-fw"></i>
                    {{ job.location.name }}
                    <span ng-show="job.location.country">
                        ({{ job.location.country }})
                    </span>
                </li>
                <li ng-show="job.description.type.contract">
                    <i class="fa fa-file-text fa-fw"></i>
                    {{ job.description.type.contract }}
                </li>
                <li ng-show="job.description.type.experience">
                    <i class="fa fa-mortar-board fa-fw"></i>
                    {{ job.description.type.experience }}
                </li>
                <li ng-show="job.description.type.salary">
                    <i class="fa fa-euro fa-fw"></i>
                    {{ job.description.type.salary }}
                </li>
            </ul>
        </h2>

        <h3>
            <ul class="tags">
                <li ng-repeat="tag in job.description.tags">
                    {{ tag }}
                </li>
            </ul>
        </h3>
    </header>

    <nav class="job-nav">
        <ul>
            <li ng-if="owner">
                <a href="#!/jobs/edit/{{ job.id }}">
                    <i class="fa fa-edit fa-lw"></i>Edit
                </a>
            </li>

            <li ng-if="owner">
                <a ng-click="onDelete(job.id)">
                    <i class="fa fa-remove fa-lw"></i>Remove
                </a>
            </li>
        </ul>
    </nav>

    <article ng-show="job.validity">
        <header>
            <h1>Date de validité de l'annonce</h1>
        </header>

        <p>Cette annonce est valide jusqu'au <b>{{ job.validity }}</b></p>
    </article>

    <article ng-show="job.description.lead || job.description.content">
        <header>
            <h1>Description</h1>
        </header>

        <p>{{ job.description.lead + " " }}{{ job.description.content }}</p>
    </article>

    <article ng-show="job.description.responsabilities">
        <header>
            <h1>Responsabilities</h1>
        </header>

        <ul ng-repeat="responsability in job.description.responsabilities">
            <li>{{ responsability }}</li>
        </ul>
    </article>
</section>
