<section>
    <aside>
        <div class="filters" ng-hide="loading">
            <span>
                <label><i class="fa fa-sort fa-fw"></i>Sort</label>
                <select ng-model='order'>
                    <option value="date">date</option>
                    <option value="title">title</option>
                </select>
            </span>

            <span>
                <label><i class="fa fa-sort-amount-asc fa-fw"></i>Order</label>
                <select ng-model='reverse'>
                    <option ng-value="true">ascending</option>
                    <option ng-value="false">descending</option>
                </select>
            </span>

            <span>
                <label><i class="fa fa-search fa-fw"></i></label>
                <input type="search" class="form-control" placeholder="Search..." ng-model="search" />
            </span>
        </div>
    </aside>
</section>

<section class="listing">
    <article ng-repeat="job in jobs | orderBy:order:reverse | filter:search">
        <header>
            <h1>
                <a href="#!/jobs/job/{{ job.id }}">{{ job.title }}</a>
            </h1>
        </header>

        <aside ng-show="job.description.content">
            <p>
                {{ job.description.content | limitTo:255 }}
                <span ng-if="job.description.content.length > 255">...</span>
            </p>
        </aside>

        <footer ng-show="job.location">
            <ul>
                <li>
                    <i class="fa fa-map-marker fa-mw"></i>
                    {{ job.location.name }}
                </li>
            </ul>
        </footer>
    </article>
</section>
