<section ng-show="loading" class="center loading">
    <i class="fa fa-fw fa-5x fa-spinner fa-pulse"></i>
</section>

<section ng-hide="loading" class="listing">
    <header>
        <h1>
            <i class="fa fa-newspaper-o fa-fw"></i>
            Annonces
        </h1>
    </header>

    <article ng-if="jobs.length == 0" class="center important">
        Aucune annonce
    </article>

    <aside ng-if="jobs.length > 0">
        <div class="filters">
            <span>
                <label><i class="fa fa-sort fa-fw"></i>Trier</label>
                <select ng-model='order'>
                    <option value="date">Date</option>
                    <option value="title">Titre</option>
                </select>
            </span>

            <span>
                <label><i class="fa fa-sort-amount-asc fa-fw"></i>Ordonner</label>
                <select ng-model='reverse'>
                    <option ng-value="true">Croissant</option>
                    <option ng-value="false">Décroissant</option>
                </select>
            </span>

            <span>
                <label><i class="fa fa-search fa-fw"></i></label>
                <input type="search" class="form-control" placeholder="Filtrer" ng-model="search" />
            </span>
        </div>
    </aside>

    <article ng-repeat="job in jobs | orderBy:order:reverse | filter:search">
        <header>
            <h1>
                <a href="#!/jobs/{{ job.id }}">{{ job.title }}</a>
            </h1>
        </header>

        <aside ng-show="job.description.content">
            <p ng-bind-html="job.description.content | limitTo:255"></p>
            <span ng-if="job.description.content.length > 255">...</span>
        </aside>

        <footer ng-show="job.location">
            <ul>
                <li>
                    <i class="fa fa-map-marker fa-fw"></i>
                    {{ job.location.name }}
                </li>
            </ul>
        </footer>
    </article>
</section>
