<section ng-show="loading" class="center loading">
    <i class="fa fa-fw fa-5x fa-spinner fa-pulse"></i>
</section>

<section ng-hide="loading" class="listing cards">
    <header>
        <h1>
            <i class="fa fa-users fa-fw"></i>
            Réseau
        </h1>
    </header>

    <article ng-if="users.length == 0" class="center important">
        Aucun utilisateur
    </article>

    <aside>
        <div class="filters">
            <span>
                <label><i class="fa fa-sort fa-fw"></i>Trier</label>
                <select ng-model='order'>
                    <option value="lastName">Nom</option>
                    <option value="firstName">Prénom</option>
                </select>
            </span>

            <span>
                <label><i class="fa fa-sort-amount-asc fa-fw"></i>Ordonner</label>
                <select ng-model='reverse'>
                    <option ng-value="true">Croissant</option>
                    <option ng-value="false">Décroissant</option>
                </select>
            </span>

            <span>
                <label><i class="fa fa-search fa-fw"></i></label>
                <input type="search" class="form-control" placeholder="Filtrer" ng-model="search" />
            </span>
        </div>
    </aside>

    <article ng-repeat="user in users | orderBy:order:reverse | filter:search as results">
        <aside>
            <img ng-show="user.profile.pictureUrl" data-ng-src="{{ user.profile.pictureUrl }}" />
            <img ng-hide="user.profile.pictureUrl" data-ng-src="static/img/user.jpg" />
        </aside>

        <aside>
            <header>
                <h1>
                    <a href="#!/network/{{ user.profile.id }}">
                        {{ user.profile.firstName }} {{ user.profile.lastName | uppercase }}
                    </a>
                </h1>

                <h2 ng-show="user.profile.headline">
                    {{ user.profile.headline }}
                </h2>
            </header>
        </aside>
    </article>
</section>
