<section ng-show="loading" class="center loading">
    <i class="fa fa-fw fa-5x fa-spinner fa-pulse"></i>
</section>

<section ng-hide="loading" class="listing">
    <header>
        <h1>
            <i class="fa fa-briefcase fa-fw"></i>
            Projets
        </h1>
    </header>

    <article ng-if="projects.length == 0" class="center important">
        Aucun projet
    </article>

    <aside ng-show="projects.length > 0">
        <div class="filters">
            <span>
                <label><i class="fa fa-sort fa-fw"></i>Trier</label>
                <select ng-model='order'>
                    <option value="date">Date</option>
                    <option value="title">Titre</option>
                </select>
            </span>

            <span>
                <label><i class="fa fa-sort-amount-asc fa-fw"></i>Ordonner</label>
                <select ng-model='reverse'>
                    <option ng-value="true">Croissant</option>
                    <option ng-value="false">Décroissant</option>
                </select>
            </span>

            <span>
                <label><i class="fa fa-search fa-fw"></i></label>
                <input type="search" class="form-control" placeholder="Filtrer" ng-model="search" />
            </span>
        </div>
    </aside>

    <article ng-show="projects.length > 0" ng-repeat="project in projects | orderBy:order:reverse | filter:search">
        <header>
            <h1>
                <a href="#!/projects/{{ project.id }}">{{ project.title }}</a>
            </h1>
        </header>

        <aside ng-show="project.description.content">
            <p ng-bind-html="project.description.content | limitTo:512">
            </p><span ng-if="project.description.content.length > 512">...</span>
        </aside>

        <footer ng-show="project.members.length > 0 || !(project.description.url == undefined)">
            <ul>
                <li ng-if="project.members.length > 0">
                    <i class="fa fa-users fa-fw"></i>
                    {{ project.members.length }} member(s)
                </li>
                <li>
                    <i class="fa fa-globe fa-fw"></i>
                    <a href="{{ project.description.url }}">
                        {{ project.description.url | limitTo:80 }}
                        <span ng-if="project.description.url.length > 80">...</span>
                    </a>
                </li>
            </ul>
        </footer>
    </article>
</section>
