<section class="card">
    <aside>
        <i ng-hide="user.profile.pictureUrl" class="fa fa-address-card fa-5x fa-fw"></i>
        <img ng-show="user.profile.pictureUrl" data-ng-src="{{ user.profile.pictureUrl }}" />
    </aside>

    <header>
        <h1>{{ user.profile.firstName }} {{ user.profile.lastName | uppercase }}</h1>

        <h2>{{ user.profile.headline }}</h2>

        <h3 ng-show="user.profile.emailAddress || user.profile.publicProfileUrl">
            <a ng-show="user.profile.emailAddress" href="mailto:{{ user.profile.emailAddress }}">
                <i class="fa fa-envelope-square fa-2x"></i>
            </a>
            <a ng-show="user.profile.publicProfileUrl" href="{{ user.profile.publicProfileUrl }}">
                <i class="fa fa-linkedin-square fa-2x"></i>
            </a>
        </h3>
    </header>

    <article ng-show="user.profile.location || user.profile.industry">
        <header>
            <h1>Informations</h1>
        </header>

        <ul class="no-dot">
            <li ng-show="user.profile.location">
                <i class="fa fa-map-marker fa-fw"></i>
                {{ user.profile.location.name }}
            </li>

            <li ng-show="user.profile.industry">
                <i class="fa fa-industry fa-fw"></i>
                {{ user.profile.industry }}
            </li>
        </ul>
    </article>

    <article ng-show="user.profile.summary">
        <header>
            <h1>Summary</h1>
        </header>

        <p>{{ user.profile.summary }}</p>
    </article>

    <article ng-show="user.profile.specialties">
        <header>
            <h1>Specialties</h1>
        </header>

        <p>{{ user.profile.specialties }}</p>
    </article>

    <article ng-show="user.profile.positions.values">
        <header>
            <h1>Positions</h1>
        </header>

        <aside ng-repeat="position in user.profile.positions.values" class="card-position {{ position.isCurrent }}">
            <header>
                <h1>{{ position.title }}</h1>

                <h2>
                    <span ng-show="position.startDate">
                        <i class="fa fa-calendar fa-fw"></i>
                        {{ position.startDate.month }}/{{ position.startDate.year }}
                    </span>
                    <span ng-show="position.endDate">
                        → {{ position.endDate.month }}/{{ position.endDate.year }}
                    </span>
                </h2>
            </header>

            <p ng-show="position.summary">{{ position.summary }}</p>

            <footer>
                <ul>
                    <li ng-show="position.company">
                        <i class="fa fa-industry fa-fw"></i>
                        {{ position.company.name }}
                    </li>
                    <li ng-show="position.location">
                        <i class="fa fa-map-marker fa-fw"></i>
                        {{ position.location.name }}
                    </li>
                </ul>
            </footer>
        </aside>
    </article>
</section>
